@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Glitch&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fffafa;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navbar a {
  color: #fffafa;
  text-decoration: none;
}

.navbar-logo {
  font-size: 2.25rem;
  font-family: "Rubik Glitch", cursive;
  margin-left: 10px;
}

.navbar-menu {
  display: flex;
  gap: 0.8rem;
  font-size: 1.125rem;
  padding: 5px;
  margin: 5px;
}

.navbar-menu li {
  list-style: none;
  padding: 4px 14px;
}

.navbar-menu li:hover {
  background-color: skyblue;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.navbar-hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  margin: 10px;
}

.hero {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero::before {
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-width: 100%;
  min-height: 12em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 5vw;
  color: #fffafa;
  font-style: oblique;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.article-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    "main pros"
    "main cons";
}

.article-main {
  grid-area: main;
}
.article-index-pros {
  grid-area: pros;
}
.article-index-cons {
  grid-area: cons;
}

.article-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em 1em;
  grid-template-areas: "main img";
}

.article-img {
  grid-area: img;
}

.article-img > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.article-testimonies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}

.quote {
  margin: 0;
  background: #eee;
  padding: 1em;
  border-radius: 1em;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}

@media (max-width: 640px) {
  .navbar-menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .navbar-menu li:hover {
    display: inline-block;
  }

  .navbar-menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .navbar-menu {
    display: block;
    margin-top: 15px;
  }
  .navbar-hamburger {
    display: block;
  }
}

@media (max-width: 400px) {
  .navbar {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links {
    width: 100%;
    text-align: right;
    padding-right: 40px;
  }
}

.hero-index::before {
  background-image: url(../img/webp/hero-640.webp);
}

.hero-about-us::before {
  background-image: url(../img/webp/hero-about-us-640.webp);
}

.hero-testimonies::before {
  background-image: url(../img/webp/hero-testimonies-640.webp);
}

@media (min-width: 640px) {
  .hero-index::before {
    background-image: url(../img/webp/hero-1920.webp);
  }
}

@media (min-width: 1920px) {
  .hero-index::before {
    background-image: url(../img/webp/hero-2400.webp);
  }
}

@media (min-width: 2400px) {
  .hero-index::before {
    background-image: url(../img/webp/hero-6000.webp);
  }
}

@media (min-width: 640px) {
  .hero-about-us::before {
    background-image: url(../img/webp/hero-about-us-1920.webp);
  }
}

@media (min-width: 1920px) {
  .hero-about-us::before {
    background-image: url(../img/webp/hero-about-us-2400.webp);
  }
}

@media (min-width: 2400px) {
  .hero-about-us::before {
    background-image: url(../img/webp/hero-about-us-6000.webp);
  }
}

@media (min-width: 640px) {
  .hero-testimonies::before {
    background-image: url(../img/webp/hero-testimonies-1920.webp);
  }
}

@media (min-width: 1920px) {
  .hero-testimonies::before {
    background-image: url(../img/webp/hero-testimonies-2400.webp);
  }
}

@media (min-width: 2400px) {
  .hero-testimonies::before {
    background-image: url(../img/webp/hero-testimonies-6000.webp);
  }
}
